@model IEnumerable<FinalProject.Models.project>

@{
    ViewBag.Title = "Projects";
}
<div id="wrapper">
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                @*<h2>Index</h2>*@

                <p>
                    @*@Html.ActionLink("Create New", "Create")*@
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                           Project Description     
    @*@Html.DisplayNameFor(model => model.ProjectDescription)*@
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Screenshot)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GitHub)
                        </th>
                        <th>
                            Languages
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProjectDescription)
                            </td>
                            <td>
                                <img src="@Html.DisplayFor(modelItem => item.Screenshot)" height="100" alt="screenshot"/>
                            </td>
                            <td>
                                <a href="@Html.DisplayFor(modelItem => item.GitHub)" target="_blank">GitHub Link</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Languages)
                            </td>
                            <td>
                                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
</div>